h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}

#tree-view-widget {
    min-height: 250px;
    border: 1px solid black;
}

#tree-view-widget ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.tree-view-content {
    font-size: 18px;
    font-weight: bold;
    margin: 3px;
}

.tree-view-content ul {
    display: none; /* Hide by default */
}

.expand-icon {
    display: inline;
    margin: 4px 10px 4px 0px;
    text-align: center;
    background-color: lightgreen;
    border: 1px solid black;
}

ul.expanded {
    display: block; /* Show when expanded */
}